<div class="outer-box">
    <div class="outer">
        <div class="inner-box">
            <i class="top left"></i>
            <i class="top right"></i>
            <p style="font-family:'Pokemon Pixel Font'" class="w-100" style="text-align:center">{{text}}</p>          
            <i class="bottom right"></i>
            <i class="bottom left"></i>
        </div>
    </div>
    <img src="assets/images/pokeball-pixelated.png" style="position: absolute;top:-4px;left:-4px;width:12px">
    <img src="assets/images/pokeball-pixelated.png" style="position: absolute;bottom:-4px;left:-4px;width:12px">
    <img src="assets/images/pokeball-pixelated.png" style="position: absolute;top:-4px;right:-4px;width:12px">
    <img src="assets/images/pokeball-pixelated.png" style="position: absolute;bottom:-4px;right:-4px;width:12px">

</div>
