.pokemon-chooser-background{
    background: url('../../assets/images/choose-pokemon.png');
    min-width: 528px;
    min-height: 340px;
    outline: thick double black;
}

.team-picked-image{
    max-width: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}